In [82]:
li=[2,3,6]
x=1
for i in li:
    x=x*i

print(x)

36

In [48]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = {}
for key in d1.keys():
    if key in d2.keys():
        d3[key]=d1[key]+d2[key]
    else:
        d3[key]=d1[key]
for key in d2.keys():
    if key not in d1.keys():
        d3[key]=d2[key]
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [85]:

li = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
li.sort(key=lambda y:y[1])
print(li)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [70]:
R=int(input('Entrer un nombre:'))
S={}
for i in range (1,R+1):
    S[i] = i*i
print(S)

Entrer un nombre:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [87]:
List= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
List.sort(reverse = True)
print(List)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [90]:
S={0,1,2,3,4}
for i in S:
    print(i)

0
1
2
3
4